:root {
  /* defined widths */
  --page-max-width: 50rem;

  /* primary fonts */
  --primary-font: system-ui, sans-serif;
  --primary-font-mono: system-ui-mono, monospace;

  /* font weights */
  --font-weight-bold: 900;
  --font-weight-normal: 400;

  /* general purpose colors */
  --background-color: #f7f7f7;
  --primary-font-color: #202020;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1em auto;
  padding: 0 1em;
  max-width: var(--page-max-width);
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

h1 {
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: 2.5em;
}

.subtitle {
  text-align: center;
}

.form {
  margin-top: 2em;
  text-align: center;
}

.form p {
  display: inline-block;
  font-size: 1.5em;
}

.form input {
  max-width: 12em;
  margin-left: 0.5em;
  padding: 0.25em 0.75em;
  font-size: 1.5em;
  font-family: var(--primary-font-mono);
  color: var(--primary-font-color);
  border-radius: 2em;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid rgba(22, 131, 173, 0.35);
}

.form .error {
  margin-top: 0.5em;
  color: red;
  font-size: 0.5em;
}

.list-view {
  margin-top: 2em;
}

.list-items {
  margin-top: 1em;
}

.list-item {
  font-size: 1.25em;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border-radius: 2em;
  background-color: #b8eefc;
}
